.loader {
  margin: 100px auto;
  width: 60px;
  height: 60px;
  border: 5px solid #ddd;
  border-top-color: #0a0a23;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
